{% extends "base.html" %}

{% block content %}
<div class="hero parallax-container">
    <div class="parallax-content">
        <h1 class="parallax-slow">About</h1>
        <p class="parallax-medium">We are a homemade media company born out of
            New Haven, CT</p>
    </div>
</div>

<section class="roadmap">
    <div class="container">
        <h2 class="parallax-slow">OUR ROADMAP</h2>
        <div class="roadmap-items">
            <div class="roadmap-item parallax-medium floating-element">
                <h3>Live Shows around New Haven</h3>
                <span class="timeline">q3+ 2025</span>
            </div>
            <div class="roadmap-item parallax-slow floating-element">
                <h3>INDIE MEDIA APP FOR THE XBOX - WINDOWS 11 - MAC - LINUX</h3>
                <span class="timeline">q4 2025</span>
            </div>
            <div class="roadmap-item parallax-fast floating-element">
                <h3>Launch Online MERCH STORE</h3>
                <span class="timeline">q1 2026</span>
            </div>
            <div class="roadmap-item parallax-medium floating-element">
                <h3>PARTNER WITH LOCAL BROADCASTERS</h3>
                <span class="timeline">q2 2026</span>
            </div>
            <div class="roadmap-item parallax-slow floating-element">
                <h3>MORE LIVE SHOWS AND CONTENT</h3>
                <span class="timeline">q3 2026</span>
            </div>
        </div>
    </div>
</section>
{% endblock %}
